@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root{
    --color1:#6ef20a;
    --color2:#ecfc05;
    --color3:#fc8905;
    --color4:#05fcdb;
    --color5:#56f5e0;
    --color6:#f556e5;
    --color7:#fc03e3;
    --color8:#ff0a64;
    --color9:#ff0a1b;
    --color10:#4d0207;
    --color11:#004ef5;
    --color12:#8f60d1;
    --color13:#33ff05;
    --color14:#f58b6e;
    --color15:#6e6968;
    --color16:#e0d8d5;
    --color17:#2d9909;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    width: 100vw;
    height: 350px;
    background-image: url("../img/bgimage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0;
    overflow: hidden;

    transition: all 1s linear;
}

.welcome{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomeul{
    padding: 0;
    margin: 0;

    display: flex;

}

.welcomeul li{
    list-style-type: none;
    font-size: 130px;
    letter-spacing: 5px;
    color: white;

    animation: welcome 3s linear infinite alternate-reverse;

    animation-play-state: paused;
}

@keyframes welcome {
    0%{
        color: darkslategrey;
        text-shadow: 0 0 25px var(--color13),0 0 15px var(--color3),0 0 10px var(--color2),0 0 25px var(--color8);
    }
    25%{
        color: lightgreen;
        text-shadow: 0 0 25px var(--color2),0 0 15px var(--color13),0 0 15px var(--color8),0 0 25px var(--color3);
    }

    50%{
        color: dimgrey;
        text-shadow: 0 0 25px var(--color3),0 0 15px var(--color8),0 0 15px var(--color13),0 0 25px var(--color2);
    }

    75%{
        color: lightseagreen;
        text-shadow: 0 0 25px var(--color8),0 0 15px var(--color2),0 0 15px var(--color3),0 0 25px var(--color13);
    }

    100%{
        color: darkseagreen;
        text-shadow: 0 0 25px var(--color13),0 0 15px var(--color2),0 0 15px var(--color3),0 0 25px var(--color8);
    }
}

.welcomeul li:nth-child(1){
    animation-delay: 0s;
}
.welcomeul li:nth-child(2){
    animation-delay: 0.1s;
}
.welcomeul li:nth-child(3){
    animation-delay: 0.2s;
}
.welcomeul li:nth-child(4){
    animation-delay: 0.3s;
}
.welcomeul li:nth-child(4){
    animation-delay: 0.4s;
}
.welcomeul li:nth-child(5){
    animation-delay: 0.5s;
}
.welcomeul li:nth-child(6){
    animation-delay: 0.6s;
}
.welcomeul li:nth-child(7){
    animation-delay: 0.7s;
}
.welcomeul li:nth-child(8){
    animation-delay: 0.8s;
}
.welcomeul li:nth-child(9){
    animation-delay: 0.9s;
}
.welcomeul li:nth-child(10){
    animation-delay: 1s;
}
.welcomeul li:nth-child(11){
    animation-delay: 1.1s;
}
.welcomeul li:nth-child(12){
    animation-delay: 1.2s;
}
.welcomeul li:nth-child(13){
    animation-delay: 1.3s;
}
.welcomeul li:nth-child(14){
    animation-delay: 1.4s;
}
.welcomeul li:nth-child(15){
    animation-delay: 1.5s;
}

.hbd{
    width: 100%;
    height: 100%;

    perspective: 1000px;

    display: none;
    justify-content: center;
}

.hbdul{
    padding: 0;
    margin: 0;

    display: flex;

    animation: hbd2 1s linear infinite alternate-reverse;

}

.hbdul li{
    list-style-type: none;
    font-size: 100px;
    letter-spacing: 10px;
    color: rgb(106, 160, 71);
    -webkit-text-stroke:2px #dbdf1a;

    animation: hbd 3s linear 1;

    animation-play-state: paused;
}

@keyframes hbd {
    0%{
        color: greenyellow;
        transform: rotate(0deg) translateX(0);
    }

    50%{
        transform: rotate(45deg) translateY(-200px);
    }
    100%{
        color: rgb(134, 5, 23);     
        transform: rotate(0deg) translateX(0);
    }
}

@keyframes hbd2 {
    0%{
        text-shadow: 0 0 35px yellow , 0 0 10px yellow , 0 0 10px yellow , 0 0 35px yellow;
    }
    50%{
        text-shadow: 0 0 35px gray , 0 0 10px gray , 0 0 10px gray , 0 0 35px gray;
    }
    100%{
        text-shadow: 0 0 35px rgb(134, 5, 23) , 0 0 10px rgb(134, 5, 23) , 0 0 10px rgb(134, 5, 23) , 0 0 35px rgb(134, 5, 23);
    }
}

.hbdul li:nth-child(1){
    animation-delay: 0s;
}
.hbdul li:nth-child(2){
    animation-delay: 0.2s;
}
.hbdul li:nth-child(3){
    animation-delay: 0.4s;
}
.hbdul li:nth-child(4){
    animation-delay: 0.6s;
}
.hbdul li:nth-child(4){
    animation-delay: 0.8s;
}
.hbdul li:nth-child(5){
    animation-delay: 1s;
}
.hbdul li:nth-child(6){
    animation-delay: 1.2s;
}
.hbdul li:nth-child(7){
    animation-delay: 1.4s;
}
.hbdul li:nth-child(8){
    animation-delay: 1.6s;
}
.hbdul li:nth-child(9){
    animation-delay: 1.8s;
}
.hbdul li:nth-child(10){
    animation-delay: 2s;
}
.hbdul li:nth-child(11){
    animation-delay: 2.2s;
}
.hbdul li:nth-child(12){
    animation-delay: 2.4s;
}
.hbdul li:nth-child(13){
    animation-delay: 2.6s;
}
.hbdul li:nth-child(14){
    animation-delay: 2.8s;
}
.hbdul li:nth-child(15){
    animation-delay: 3s;
}
.hbdul li:nth-child(16){
    animation-delay: 3.2s;
}
.hbdul li:nth-child(17){
    animation-delay: 3.4s;
}
.hbdul li:nth-child(18){
    animation-delay: 3.6s;
}

.container{
    width: 300px;
    height: 225px;
    border: 2px solid rgb(77, 156, 75);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(72, 224, 72) , 0 0 25px rgb(72, 224, 72) , 0 0 25px rgb(72, 224, 72) , 0 0 10px rgb(72, 224, 72);

    display: none;

    position: fixed;
    top: 200px;
    left: 200px;

    overflow: hidden;
}

.container img{
    width: 100%;

    transition: all 0.5s;
}

.container .caption{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    background-color: rgba(0,0,0,0.5);
    transform: translate(-100%);

    transition: all 0.5s;
}

.caption p{
    color: darkseagreen;
    font-size: 16px;
    padding: 10px;
}

.container:hover img{
    transform: translate(100%);
}

.container:hover .caption{
    transform: translate(0);
}

.floatimg{
    display: none;
}

.floatimg img{
    height: 80px;
    border-radius: 50%;

    position: absolute;
    bottom: -130px;

    animation: floatimg 15s linear infinite;

    animation-play-state: paused;
}

@keyframes floatimg {
            0%{
                bottom: -130px;
            }

            100%{
                bottom: 100%;
                transform: translateY(-1000px);
                opacity: 0;
            }

        }

.floatimg img:nth-child(1){
    left: 0%;

    animation-delay: 0s;
}

.floatimg img:nth-child(2){
    left: 10%;

    animation-delay: 2s;
}

.floatimg img:nth-child(3){
    left: 20%;

    animation-delay: 4s;
}

.floatimg img:nth-child(4){
    left: 30%;

    animation-delay: 6s;
}

.floatimg img:nth-child(5){
    left: 40%;

    animation-delay: 8s;
}

.floatimg img:nth-child(6){
    left: 50%;

    animation-delay: 10s;
}

.floatimg img:nth-child(7){
    left: 60%;

    animation-delay: 12s;
}

.floatimg img:nth-child(8){
    left: 70%;

    animation-delay: 14s;
}

.floatimg img:nth-child(9){
    left: 80%;

    animation-delay: 16s;
}

.floatimg img:nth-child(10){
    left: 90%;

    animation-delay: 18s;
}

.team-page{
    text-decoration: none;
    color: darkseagreen;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.8);
    border-radius: 25px;
    padding: 10px;

    display: none;

    position: fixed;
    right: 5%;
    bottom: 5%;
}

.click-me{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/bgimage2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,1);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1000;
}

.click-me a{
    text-decoration: none;
    background-color: rgba(255, 255, 255,0.7);
    font-size: 20px;
    font-weight: bold;
    color: rgb(151, 16, 16);
    text-shadow: 2px 2px 3px black;
    border-radius: 25px;
    padding: 15px;

    position: fixed;
    top: 42.5%;
    left: 25%;
}

.bounce{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    
}

.bounce img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;

    animation: bounce 0.5s linear infinite;
}

@keyframes bounce {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }
}

.bounce img:nth-child(1){
    animation-delay: 0.75s;
}
.bounce img:nth-child(2){
    animation-delay: 0.45s;
}
.bounce img:nth-child(3){
    animation-delay: 1.2s;
}
.bounce img:nth-child(4){
    animation-delay: 1.5s;
}
.bounce img:nth-child(5){
    animation-delay: 0.15s;
}
.bounce img:nth-child(6){
    animation-delay: 0.6s;
}
.bounce img:nth-child(7){
    animation-delay: 1.05s;
}
.bounce img:nth-child(8){
    animation-delay: 1.35s;
}
.bounce img:nth-child(9){
    animation-delay: 0.3s;
}
.bounce img:nth-child(10){
    animation-delay: 0.9s;
}

body.body .welcomeul li,body.body .hbdul li,body.body .floatimg img{
    animation-play-state: running;
}
